.home-container {
  width: 100%;
  height: 100vh;
  background-image: url(../../assets/images/bg-image-5-60.jpg);
  /* background-repeat: no-repeat; */
  background-size: cover;
  background-position: center;
}
.home-container .home-content {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0 15rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 3rem;
}
.home-content h1{
  font-size: 6.5rem;
  color: #fff;
  font-family: "Nunito", sans-serif;
}

.home-content .tours-content {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 2rem;
}
.tours-content .drop-down {
  width: 30rem;
  height: 6rem;
  background-color: #fff;
  border-radius: 1rem;
  overflow: hidden;
}
.drop-down select {
  width: 100%;
  height: 100%;
  padding: 0 1rem;
  border: 0;
  font-size: 1.6rem;
  color: #828590;
}

.tours-content .btn {
  width: 30rem;
  height: 6rem;
}
.btn button {
  width: 100%;
  height: 100%;
  background-color: #0ab193;
  border: 0;
  outline: 0;
  border-radius: 1rem;
  font-size: 1.8rem;
  font-weight: 500;
  color: #fff;
}

.home-content .social-media {
  position: absolute;
  right: 2rem;
}

.social-media ul {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.social-media ul li {
  width: 5rem;
  height: 5rem;
  border: 1px solid #fff;
  border-radius: 50%;
  text-align: center;
  line-height: 5rem;
  font-size: 2rem;
  color: #fff;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}
.social-media ul li:nth-child(1):hover {
  background-color: #2059a0;
  color: #fff;
  border-color: #2059a0;
}
.social-media ul li:nth-child(2):hover {
  background-color: #2881a8;
  color: #fff;
  border-color: #2881a8;
}
.social-media ul li:nth-child(3):hover {
  background-color: #2881a8;
  color: #fff;
  border-color: #2881a8;
}

/* Responsive Design */

@media screen and (max-width: 1024px) {
  .home-container .home-content {
    padding: 0 5rem;
  }
  .home-content h1 {
    font-size: 5rem;
  }

  .home-content .tours-content .drop-down {
    width: 25rem;
    height: 4.5rem;
  }
  .home-content .tours-content .btn {
    width: 25rem;
    height: 4.5rem;
  }
}

@media screen and (max-width: 768px) {
  .home-container .home-content {
    padding: 0 3rem;
    text-align: center;
  }
  .home-content .social-media {
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 75%;
    transform: translateY(-50%);
  }
  .social-media ul {
    flex-direction: row;
  }
}

@media screen and (max-width: 426px) {
  .home-container {
    width: 100%;
  }
  .home-container .home-content {
    width: 100%;
  }
  .home-content h1 {
    font-size: 3.2rem;
  }
  .home-content .tours-content {
    flex-direction: column;
  }
  .home-content .social-media {
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 80%;
    transform: translateY(-50%);
  }
}
