.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 3rem 15rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: 0.3s ease-in-out;
  z-index: 10;
}
.header.scroll{
  background-color: #fff;
  padding: 2rem 15rem;
}
.header .logo img {
  width: 15rem;
}

.header nav ul {
  display: flex;
  align-items: center;
  gap: 6rem;
}
nav ul li a {
  font-size: 2rem;
  font-weight: 300;
  font-family: "Helvetica Neue", sans-serif;
  color: #828590;
  transition: 0.2s ease-in-out;
}
nav ul li a.active,
nav ul li a:hover {
  color: #0ab193;
}

.header nav .close-navbar {
  position: absolute;
  top: 2.5rem;
  right: 2.5rem;
  display: none;
}

.header nav .close-navbar i {
  font-size: 2.5rem;
}

.header .mobile-menu-icon {
  display: none;
}
.header .mobile-menu-icon i {
  font-size: 2.5rem;
}

@media screen and (max-width: 1024px) {
  .header {
    padding: 3rem 5rem;
  }
  .header.scroll {
    padding: 2rem 5rem;
  }
  .header nav ul li a {
    font-size: 1.8rem;
  }
}

@media screen and (max-width: 768px) {
  .header {
    padding: 3rem 3rem;
  }
  .header.scroll {
    padding: 2rem 3rem;
  }
  .header nav {
    position: absolute;
    top: -500%;
    left: 0;
    width: 100%;
    padding: 3rem;
    background-color: #fff;
    transition: 0.3s ease-in-out;
  }
  .header nav.active {
    top: 0;
  }
  
  .header nav ul {
    flex-direction: column;
    align-items: self-start;
    gap: 4rem;
  }
  .header .mobile-menu-icon {
    display: block;
  }
  .header nav .close-navbar {
    display: block;
  }
}

@media screen and (max-width: 426px) {
  .header {
    padding: 3rem 2rem;
  }
  .header.scroll {
    padding: 2rem;
  }
}
