.footer-container {
  width: 100%;
  padding: 2rem 15rem;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer-container .logo img {
  width: 12rem;
}
.footer-container .cw {
  font-size: 1.8rem;
}

@media screen and (max-width: 1024px) {
  .footer-container {
    padding: 2rem 5rem;
  }
}

@media screen and (max-width: 768px) {
  .footer-container {
    padding: 2rem 2rem;
  }
}

@media screen and (max-width: 426px) {
  .footer-container {
    padding: 2rem;
  }
}
